.box{
    display: flex;
    flex-direction: column;
    background: black;
    width: 100%;
    align-items: center;
}


.sub_child1{

display: flex;
flex-direction: row;
padding: 16px;

}

.sub_child2{

    display: flex;
    flex-direction: row;
    padding: 16px;
    
    }

.text{
    color: white;
    font-size: 48px;
    margin: 15px;
    padding: 24px;
    }

.dropdown{
    display: flex;
    border-color: solid 2px white;
    background: black;
    font-size: 24px;
    /* padding-left: 45px;
    padding-right: 45px; */
    border-radius: 8px;
    /* padding-top: 6px;
    padding-bottom: 6px; */
    justify-content: center;
    align-items: center;
    width: 15vw;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    text-decoration: white;
    margin: 16px;
}

.btn{

    position: relative;
    background: #011FA3;
    color: white;
    font-size: 24px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-style:ridge;
    border-color: #011FA3;
    margin: 12px;

}